body {
  font-size: 85%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.65;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1242px;
  width: 100%;
}
header {
  background: url('../assets/img/top_main-pc.png') no-repeat;
  margin: 0 auto;
  padding: 1.5rem 0 29.5rem;
}
nav {
  margin: 0 auto;
  padding: 0;
}
nav ul {
  display: flex;
  background: rgba(20, 144, 173, .7);
  font-size: 88%;
  list-style: none;
  justify-content: flex-start;
  padding: 0.5rem 0;
  margin: 0;
}
nav ul li {
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 1px 0 0;
  padding: 0.5rem 1.25rem;
}
nav ul li:nth-child(2) {
  border-width: 0 1px 0 1px;
}
nav ul li.active {
  background: #68eaf9;
}
.container nav ul a,
nav ul a {
  color: #fff;
  /* font-weight: bold; */
  line-height: normal;
  text-decoration: none;
}
nav ul li:first-child {
  border: 0;
  flex-basis: 30%;
}
nav ul li:first-child a {
  line-height: normal;
  width: 100%;
}
nav ul li:first-child a span {
  visibility: hidden;
}
nav.m-menu {
  display: none;
}
.container section,
.container header,
.container footer {
  line-height: 0;
  /* margin: 0 auto; */
  text-align: center;
}
.container a {
  display: block;
  line-height: 0;
}
.container p {
  line-height: 1.65;
}

.recruit {
  margin: 5vw auto;
}
footer {
  margin: 0 auto;
}

.vision {
  background: url('img/top_sentence-bg.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 3rem;
  text-align: center;
}
.vision .row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 5rem 0;
  width: 75%;
}
.vision .left {
  width: 47.5%;
  text-align: left;
}
.vision h2 {
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 10px solid rgba(238,227,8,0.8);
  margin: 2rem auto 0.5em;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 0.5;
  letter-spacing: -0.05em;
}
.vision .left p {
  font-size: 90%;
  letter-spacing: -0.9px;
  line-height: 2;
  margin: 1.5rem auto 2rem;
}
.vision .left a {
  display: inline-block;
  background: #333;
  color: #fff;
  font-weight: bold;
  line-height: normal;
  padding: 0.5em 1em;
  text-decoration: none;
}
.vision .row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1.5rem 0;
  margin: auto;
  width: 62%;
}
.vision .right {
  width: 56%;
  text-align: left;
}
.vision .right p {
  font-size: 90%;
  letter-spacing: -0.9px;
  line-height: 2;
  margin: 1.5rem auto 2rem;
}
.pages {
  margin: 2rem auto 0;
  padding: 2vw 0;
  text-align: center;
}
.pages .row {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  width: 65%;
}
.pages .row div {
  flex-basis: 27.5%;
}
.page header {
  padding-bottom: 15rem;
}
.company header {
  background: url('img/company_top-pc.png') no-repeat;
}
.company .greeting {
  margin: 0 auto 3rem;
  width: 80%;
  /* text-align: center; */
}
.company .row {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-evenly;
}
.text-content {
  display: flex;
  box-sizing: border-box;
  text-align: center;
}
.text-shadow {
  margin: 0 auto -10px;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 10px solid rgba(238,227,8,0.8);
  margin: 2rem auto;
  font-size: 1.76em;
  font-weight: 400;
  line-height: 0.5;
  letter-spacing: 0.2em;
}
.company .greeting h3 {
  flex-basis: 85%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
}
.company .greeting .article {
  /* TODO: update */
  /* flex-basis: 60%; */
  flex-basis: 85%;
  font-size: 95%;
  line-height: 1.4;
}
.company .greeting  p {
  margin: 0.5rem 0 0.8rem;
}
.company .greeting ol {
  padding-left: 1.4em;
  margin: 0;
}
.company .greeting .ceo {
  /* TODO: update */
  /* flex-basis: 25%; */
  flex-basis: 85%;
  text-align: right;
}
.company .enkaku {
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  padding: 2rem 0 3rem;
  margin: 0 auto;
  width: 80%;
}
.company .enkaku dl {
  line-height: 2;
  margin: 0.5rem auto 1rem;
  width: 80%;
}
.company .enkaku dl div {
  width: 100%;
  display: inline-flex;
  padding: 0.75rem 0;
}
.company .enkaku dl div:nth-child(even) {
  background: rgba(1, 169, 207, 0.25);
}

.company .enkaku dl dt,
.company .enkaku dl dd {
  font-size: 90%;
  padding: 0;
}
.company .enkaku dl dt {
  border-right: 1px dotted #999;
  flex-basis: 30%;
  padding-left: 3rem;
}
.company .enkaku dl dd {
  flex-basis: 60%;
}
.company .gaiyou {
  padding: 2rem 0 3rem;
}
.company .gaiyou dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 90%;
  margin: 1rem auto;
  width: 70%;
}
.company .gaiyou dl dd ul.worker {
  display: inline-flex;
  flex-wrap: wrap;
}
.company .gaiyou dl dd ul.worker li {
  flex-basis: 50%;
}
.company .gaiyou dl dd ul.business li:before {
  content: "1. ";
}
.business header {
  background: url('img/business_top-pc.png') no-repeat;
}
.business .container section {
  padding-bottom: 5rem;
}
.business .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 67.5%;
  margin: 2rem auto;
}
.business h3 {
  flex-basis: 100%;
}
.business .row div {
  width: 25%;
}
.projects header {
  background: url('img/projects_top-pc.png') no-repeat;
}
.projects .row {
  line-height: 1.65;
}
.projects h3 {
  border-bottom: 1px solid #134A8C;
}
.projects .row,
.credentials .row,
.equipments .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 1rem;
  width: 57.5%;
}
dl {
  line-height: 1.65;
}
.projects dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 90%;
  margin: 0 auto;
  width: 57.5%;
}

.projects dl div,
.company .gaiyou dl div,
.recruit-page dl div {
  display: inline-flex;
  flex-basis: 100%;
  padding: 0.5rem 0;
  text-align: left;
}
.projects dl div:nth-child(odd) {
  background: #E4E5F0;
}
.projects dl dt,
.recruit-page dl dd {
  flex-basis: 70%;
  padding-left: 1rem;
}
.projects dl dt i {
  color: #134A8C;
  margin-right: 0.5rem;
}
.projects dl dd {
  flex-basis: 22.55%;
}
.company .gaiyou dl div,
.recruit-page dl div {
  border-width: 2px 0 0;
  border-color: #ccc;
  border-style: solid;
  padding: 0.75rem 0;
}
.company .gaiyou dl dt,
.recruit-page dl dt {
  flex-basis: 30%;
  padding-left: 2rem;
}
.recruit-page dl dt {
  color: #01A9CF;
}
.company .gaiyou dl dd {
  flex-basis: 70%;
}
.company .gaiyou dl dd ul,
.recruit-page dl dd ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.recruit-page dl dd ul li:before {
  content: "◎ ";
}
.credentials header {
  background: url('img/credential_top-pc.png') no-repeat;
}
.projects p,
.credentials p,
.equipments p {
  line-height: 1;
  text-align: left;
  width: 100%;
}
p.right {
  font-size: 85%;
  margin: 1rem auto 3rem;
  text-align: right;
}
.equipments table,
.credentials table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 90%;
  line-height: 2;
  margin: 0 auto;
  width: 57.5%;
}
.equipments table,
.credentials table {
  border: 2px solid #666;
  margin: 0 auto 5rem;
}
.equipments table {
  margin-bottom: 0.5rem;
}
.equipments thead {
  background: #B81B25;
  color: white;
}
.equipments thead td {
  border: 2px solid #666;
  font-weight: bold;
}
.equipments th {
  border: 2px solid #666;
  background: #F1E0E5;
  vertical-align: top;
}
.credentials tbody th {
  border: 2px solid #666;
  background: #F5EECD;
  vertical-align: top;
  width: 25%;
}
.equipments tbody tr:nth-child(even),
.credentials tbody tr:nth-child(odd) {
  background: #E6E6E5;
}

.equipments tbody td,
.credentials tbody td {
  border-left: 2px solid #666;
  padding: 0.25rem 0 0.25rem 2rem;
  text-align: left;
}
.credentials tbody tr > td:nth-child(2),
.credentials tbody tr > td:nth-child(3) {
  width: 20%;
  padding: 0.25rem 0;
  text-align: center;
}
.credentials tbody tr > td:nth-child(3) {
  border-top: 2px solid #666;  
}
.credentials tbody tr > td.first-line {
  border-top: 2px solid #666;
  width: auto;
  padding: 0.25rem 0 0.25rem 2rem;
  text-align: left;
}
.equipments header {
  background: url('img/equipment_top-pc.png') no-repeat;
}
.equipments tbody tr > td:nth-child(2),
.equipments tbody tr > td:nth-child(3) {
  width: 20%;
  padding: 0.25rem 0;
  text-align: center;
}
.equipments tbody tr > td:nth-child(3) {
  border-top: 2px solid #666;  
}
.equipments tbody tr > td.first-line {
  border-top: 2px solid #666;
  width: auto;
  padding: 0.25rem 0 0.25rem 2rem;
  text-align: left;
}
.equipments p.small {
  font-size: 85%;
  margin: 0rem auto 4rem;
  text-align: left;
}
.recruit-page header {
  background: url('img/recruit_top-pc.png') no-repeat;
}
.recruit-page h3 {
  color: #01A9CF;
  font-size: 1.4rem;
  font-weight: 550;
  margin: 1rem auto 2rem;
}
.recruit-page .row {
  margin: 4rem auto 6rem;
  width: 67.5%;
}
.recruit-page dl {
  display: flex;
  font-size: 90%;
  flex-wrap: wrap;
  margin: 0 auto 4rem;
  width: 67.5%;
}
.recruit-page .fukuri {
  background-image: url('img/bg-blue.png');
  background-repeat: repeat;
  padding: 1rem 0 2rem;
  margin: 0 auto 2rem;
  width: 70%;
}
.recruit-page .fukuri .row {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  text-align: left;
  padding: 0 2rem;
  margin: 0 auto;
  width: 85%;
}
.recruit-page .fukuri #education {
  padding-top: 2rem;
}
.recruit-page .fukuri .row .left {
  width: 50%;
}
.recruit-page .fukuri .row .right {
  text-align: right;
  width: 50%;
}
.recruit-page .fukuri #service {
  align-items: flex-end;
}
.recruit-page .fukuri #service .left {
  width: 65%;
}
.recruit-page .fukuri #service .right {
  text-align: left;
  width: 35%;
}
.recruit-page .fukuri #service .left .flex-p {
  display: flex;
}
.recruit-page .fukuri #service .left .flex-p img {
  margin-right: 2rem;
}
.recruit-page .fukuri h3 {
  color: #fff;
  padding: 1rem 0;
}
.recruit-page .fukuri h4 {
  color: #01A9CF;
  font-size: 1.1em;
  margin: 1.5rem auto 0;
}
.recruit-page .fukuri h4 i {
  margin-right: 0.3rem;
}
.recruit-page .fukuri p {
  margin-left: 2rem;
}
.recruit-page .fukuri #education .caption {
  margin-top: -1rem;
  text-align: right;
  width: 55%;
}
.recruit-page .fukuri .caption {
  color: #01A9CF;
  font-weight: bold;
  margin-left: 0;
}
.recruit-page .fukuri .left .caption {
  margin-left: 2rem;
}
.recruit-page .fukuri #active {
  padding-bottom: 1rem;
}
.recruit-page .fukuri #active h4 {
  width: 100%;
}
.recruit-page .fukuri #active .flex-p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
}
.recruit-page .fukuri #active .flex-p img {
  display: block;
}
.recruit-page .fukuri #active .caption {
  margin-top: 0;
}
.recruit-page .fukuri hr {
  background: #fff;
  border-style: solid;
  border: 1px solid #01A9CF;
  width: 100%;
}
.recruit-page section a {
  background: #333;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  line-height: normal;
  padding: 0.5rem 1.5rem;
  margin-bottom: 5rem;
}
.contact header {
  background: url('img/contact_top-pc.png') no-repeat;
}
.contact .row {
  font-size: 90%;
  text-align: left;
  margin: 2rem auto;
  width: 75%;
}
.contact form {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 67.5%;
}
.contact section {
  margin-bottom: 5rem;
}
.contact dt, .contact dd {
  border-bottom: 2px solid #999;
  font-size: 90%;
  padding: 1rem 0;
  text-align: left;
}
.contact dt {
  flex-basis: 30%;
  padding-left: 2rem;
}
.contact dd {
  flex-basis: 65%;
  margin-left: 0;
}
.contact .btnbox,
.recruit-page .btnbox {
  justify-content: center;
  padding: 2rem 0;
}
.contact .btnbox {
  border: 0;
  flex-basis: 100%;
  text-align: center;
}
.contact input[type=text],
.contact input[type=email],
.contact textarea {
  border: 1px solid #999;
  line-height: 1.5;
  width: 90%;
}
.contact input[type=radio] {
  margin: 0 0.5rem;
}
.contact button[type=submit] {
  background: #333;
  border: 0;
  color: white;
  font-weight: bold;
  letter-spacing: 0.25rem;
  padding: 0.5rem 3rem;
  text-decoration: none;
}
.contact input#zipcode1 {
  width: 10%;
}
.contact input#zipcode2 {
  width: 15%;
}
.contact span.required {
  font-size: 90%;
  color: #01A9CF;
}

@media (max-width: 1240px) {
  nav {
    max-width: 100%;
  }
  nav ul {
    flex-wrap: nowrap;
  }
  nav ul li {
    padding: 0.5rem 1.3vw;
  }
  .vision .row {
    justify-content: flex-start;
    margin: auto;
  }
  .vision .row2 {
    padding-top: 0;
    width: 75%;
  }
  .vision .right,
  .vision .left {
    max-width: 90%;
    width: 55%;
  }
  .pages {
    /* margin: 8vw auto 0; */
    /* padding: 8vw 10vw 4vw; */
  }
  .pages .row {
    max-width: 90%;
    margin: 0 auto;
  }
  .pages .row div {
    flex-basis: 26%;
  }
  .business .row {
    width: 85%;
  }
  .container section.business {
    max-width: 80%;
    margin: 0 auto 3rem;
  }
  .projects .row,
  .credentials .row,
  .equipments .row,
  .contact .row {
    width: 70%;
  }
  .credentials table,
  .projects dl,
  .credentials dl,
  .equipments table {
    width: 70%;
  }
  .recruit {
    max-width: 80%;
  }
  .recruit-page .fukuri {
    width: 80%;
  }

  .recruit-page .fukuri .row {
    width: 80%;
  }
  .recruit-page .fukuri .left .caption,
  .recruit-page .fukuri p {
    margin-left: 1rem;
  }
  .recruit-page .fukuri #education .caption {
    width: 50%;
  }
  .recruit-page .fukuri #service .left .flex-p img {
    margin-right: 0;
    padding-right: 5%;
    height: auto;
    flex-basis: 48%;
  }
}
@media (max-width: 1240px) {
  header {
    background-size: cover;
    padding-bottom: 37.8vw;
  }
  .page header {
    background-size: contain;
    padding-bottom: 18.5%;
  }
  nav ul li:first-child {
    flex-basis: 20%;
  }
}
@media (max-width: 1070px) {
  .vision {
    background-size: contain;
  }
  .vision .left p {
    margin-bottom: 1rem;
  }
  .vision h2 {
    line-height: normal;
    margin-top: 0;
  }
  .company .greeting,
  .company .enkaku,
  .company .gaiyou {
    width: 90%;
    margin: 0 auto;
  }
  .company .enkaku dl,
  .company .gaiyou dl {
    width: 90%;
  }
  .recruit-page dl dt,
  .company .enkaku dl dt {
    padding-left: 0.5rem;
  }
  .company .enkaku dl dd {
    margin-left: 1rem;
  }
}
@media (max-width: 875px) {

  nav {
    font-size: 90%;
    /* margin: 0 auto 4em; */
  }
  nav.pc-menu {
    display: none;
  }

  /* imports */
  @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
  /* colors */
  /* variables */
  /* mixins */
  /* resets and base styles */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  *:focus {
    outline: none;
  }

  nav.m-menu {
    display: block;
    background: rgba(1, 169, 207, 0.8);
    color: white;
    font: normal 10px/1.42857 "Source Sans Pro", Helvetica, Arial, sans-serif;
    width: 100%;
  }
  a:hover {
    opacity: 0.8;
  }

  /* nav toggle */
  .nav-toggle {
    background: rgba(1, 169, 207, 0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 3rem;
    right: 0;
    /* padding: 0.5rem 2rem 0.5rem 0; */
    position: fixed;
    top: 2rem;
    width: 5rem;
    z-index: 2;
  }
  .nav-toggle:hover {
    opacity: 0.8;
  }
  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 0.2rem;
    right: 1.5rem;
    width: 2.4rem;
  }
  .nav-toggle .nav-toggle-bar {
    margin-top: 0;
  }
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.6rem;
    right: 0;
  }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.6rem;
    right: 0;
  }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
  }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
  }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* nav */
  .m-menu {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: #28dde0;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -100%;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
  }
  nav.m-menu.expanded {
    left: 0;
  }
  nav.m-menu ul {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85%;
  }


  /* nav.m-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  nav.m-menu ul {
    justify-content: center;
    width: 10%;
  } */
  nav.m-menu ul li {
    border: 0;
    color: #fff;
    font-size: 2em;
    margin: 1rem auto;
    width: 80%;
  }
  nav.m-menu ul li:first-child a span {
    visibility: visible;
  }

  .business .row {
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }
  .business .row div {
    width: 30%;
    margin: 1rem 0;
  }
  .recruit-page .fukuri #service .left .flex-p img {
    flex-basis: 80%;
  }
  .recruit-page .fukuri,
  .projects .row,
  .credentials .row,
  .equipments .row,
  .contact .row {
    width: 90%;
  }
  .contact form,
  .recruit-page dl,
  .equipments table,
  .credentials table,
  .projects dl {
    width: 90%;
  }
  .recruit-page dl dd,
  .projects dl dd {
    margin-left: 1rem;
  }
  .contact dt,
  .equipments tbody tr > td.first-line,
  .equipments tbody td, .credentials tbody td,
  .credentials tbody tr > td.first-line {
    padding-left: 0.5rem;
  }
}
@media (max-width: 729px) {

}
